<div class="container">
    <!-- MY INFO HTML LANDING PAGE

    <p><button ng-click="myinfoCtrl.fakeit();">gerenate fake data</button></p> -->

    <!-- userprefs exist: {{ myinfoCtrl.userPrefsExist(); }} -->

    <div ng-if="(myinfoCtrl.userPrefsExist())">
        My User Information:
        <div class="container">
            <div class="row">
                <section  >
                    <span>First Name: </span>
                    {{ myinfoCtrl.userInfo.firstname }} <br>
                    <!-- userInfo: {{ myinfoCtrl.userInfo.firstname }} <br> -->

                    <hr class="visible-xs">
                </section>
                <section  >
                    <span>Last Name: </span>
                    {{ myinfoCtrl.userInfo.lastname }} <br>
                    <!-- userInfo: {{ myinfoCtrl.userInfo.lastname }} <br> -->

                    <hr class="visible-xs">
                </section>
                <section  class="">
                    <span>Email: </span>
                    {{ myinfoCtrl.userInfo.email }} <br>
                    <!-- userInfo: {{ myinfoCtrl.userInfo.email }} <br> -->

                    <hr class="visible-xs">
                </section>
                <section  class="">
                    <span>Phone number: </span>
                    {{ myinfoCtrl.userInfo.phone }} <br>
                    <!-- userInfo: {{ myinfoCtrl.userInfo.phone }} <br> -->

                    <hr class="visible-xs">
                </section>
                <section  class="">
                    <span>Favorite dish: </span>
                    {{ myinfoCtrl.userInfo.favdish }} - 
                 
                    <!-- userInfo: {{ myinfoCtrl.userInfo.favdish }} <br> -->
                     {{ myinfoCtrl.userInfo.name }} <br>
                     {{ myinfoCtrl.userInfo.description }} <br>

                     <img class="img-responsive" width="250" height="150" ng-src="images/menu/{{myinfoCtrl.userInfo.shortname_letter}}/{{myinfoCtrl.userInfo.favdish}}.jpg" alt="{{myinfoCtrl.userInfo.name}}">
                     <!-- <img class="img-responsive" width="250" height="150" ng-src="images/menu/A/A1.jpg" alt="food"> -->

                     <br>
                     <!-- imgpath: images/menu/{{myinfoCtrl.userInfo.shortname_letter}}/{{myinfoCtrl.userInfo.favdish}}.jpg -->

                    <hr class="visible-xs">
                </section>
            </div>
        </div>
    </div>

    <div ng-if="(!myinfoCtrl.userPrefsExist())">We do not have your favorite info, please <a ui-sref="public.signup">sign up</a> so we know what you like!</div>


    <p>
        <p></p>
        <p></p>
        <!-- user info below/no if show regardelss:

    {{ myinfoCtrl.userInfo }} -->


</div>