<div class="container">
    <!-- MY INFO HTML LANDING PAGE

    <p><button ng-click="myinfoCtrl.fakeit();">gerenate fake data</button></p> -->

    <!-- userprefs exist: {{ myinfoCtrl.userPrefsExist(); }} -->

    <div ng-if="(myinfoCtrl.userPrefsExist())">
        <userinfo myinfo="myinfoCtrl.userInfo"></userinfo>

    </div>

    <div ng-if="(!myinfoCtrl.userPrefsExist())">We do not have your favorite info, please <a ui-sref="public.signup">sign up</a> so we know what you like!</div>


    <p>
        <p></p>
        <p></p>
        <!-- user info below/no if show regardelss:

    {{ myinfoCtrl.userInfo }} -->


</div>